/* Reset start */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  border-width: 0;
  border-style: none;
  border-color: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Reset end */

/* Default style */
body {
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  font-weight: lighter;
}



/* /Default style */
.default-text {
  line-height: 26px;
  font-size: 15px;
}

.bg-black {
  background-color: #020202;
}

.title {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  letter-spacing: 9px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 75px;
}

.title-light-white {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
}

/* Custom style */
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  margin: 0px -15px;

}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.container .row+.row {
  margin-top: 105px;
}

.container .tabs .row+.row {
  margin-top: 0px;
}

.col {
  float: left;
  padding: 0 15px;
}

/* Grid */
.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333%;
}

.col-5 {
  width: 41.66666%;
}

.col-6 {
  width: 50%;

}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.6666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333333%;
}

.col-11 {
  width: 91.666666667%;
}

.col-12 {
  width: 100%;
}

/* /grid */
.default-section {
  padding: 140px 0;
}



blockquote p {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 33px;
}

blockquote span {
  font-size: 11px;
  line-height: 40px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

.about-studio {
  border-bottom: 2px solid rgba(19, 19, 19, 0.08);
display: flex;
justify-content: center;

}

.services h3 {
  text-align: center;
}

.services .tabs ul {
  margin-bottom: 70px;
  overflow: hidden;
}

.services .tabs ul li {
  float: left;
  width: 20%;
  text-align: center;
  color: #111111;
  opacity: 0.5;
}

.services .tabs ul li.ui-state-active {
  opacity: 1;

}

.services .tabs ul li span {
  display: block;
}

.services .tabs ul li span:last-child {
  margin-top: 34px;
  text-transform: uppercase;
}

.services-tab-icon {
  font-size: 48px;

}
.services .container .row{
  text-align: left;
}

#header {

  position: relative;
  color: #fff;
  text-transform: uppercase;


}

.start {
  background: url(../img/header-bg.jpg) no-repeat center / cover;
  height: 100vh;
  width: 100%;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.logo {
  position: absolute;
  top: 25px;
  left: 30px;
  text-align: center;
  z-index: 99;
}

.logo span {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3.6px;
}

.logo .img-line {
  display: block;
}

.header-nav {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3.3px;
  opacity: 0.75;
  position: absolute;
  top: 25px;
  right: 30px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  z-index: 99;
}

.header-nav li {
  float: right;
}

.header-nav li+li {
  margin-right: 35px;
}

.start-main {
  padding-top: 325px;
  width: 100%;
  text-align: center;
  color: #fefefe;
}

.start-main .name {
  font-family: 'Dosis', sans-serif;
  opacity: 0.9;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 51px;
  text-transform: uppercase;
}

.start-main .role {
  opacity: 0.68;
  font-size: 19px;
  font-weight: 300;
  display: block;
  margin-top: 100px;
  text-transform: none;
}

.bg {
  position: absolute;
  bottom: 30px;
  left: 50%;
}
.bg .fa-angle-down{
position: absolute;
margin-top: -20px;
margin-left: 8px;
color: #020202;
}
/* About studio */

.item-info {
  margin-top: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.item-name {

  font-size: 15px;
  letter-spacing: 6px;
}

.item-role {
  display: block;
  font-size: 12px;
  letter-spacing: 4.8px;
  margin-top: 16px;
}

.item-skills{
  background: #131313;
  text-align: left;
  padding: 40px;
  transform: rotateY(180deg);
  
}
.item-photo{
  position: relative;
  height: 450px;
  perspective: 5000px;
}
.item-photo:hover .item-front{
  transform: rotateY(180deg);
}
.item-photo:hover .item-skills{
  transform: rotateY(360deg);
}
.container-for-flip{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1s ease;
  backface-visibility: hidden;
}

.skills-title{
  text-transform: uppercase;
  font-family:'Dosis' ,serif;
  font-size: 18px;
  letter-spacing: 5.4px;
  margin-bottom: 30px;
}
.skills-text{
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 43px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.50);  
}
.skill span{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2.2px;
}

.skill .progress-bar{
  position: relative;
  width: 100%;
  height: 13px;
  background-color: rgba(204, 204, 204, 0.15);
  
}
.skill{
  margin-bottom: 16px;
}

.skill .progress{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(205, 205, 205, 0.9)
}

/* news */
.news .fa-angle-down {
  content: "\f107";
  color: #222222;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 8.5px;
  width: 100%;
  height: 100%;
}
.news-blog {
  float: right;
  font-family: 'dosisregular', sans-serif;
  font-size: 11px;
  line-height: 23px;
  color: #9999;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}

.news-img {
  margin-bottom: 25px;
  line-height: 0;
}

.news-item img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.news-item a:hover img {
  -webkit-filter: none;
  filter: none;
}

.news-title {
  margin-bottom: 17px;
  font-size: 15px;
  font-family: 'dosisregular', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.news-author {
  margin-bottom: 23px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999;
}


.news-item .btn {
  margin-top: 25px;
}

.btn {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 1px;
  cursor: pointer;
}

.btn-gray {
  color: #777;
  background-color: #e5e5e5;
}

.btn-small {
  padding: 8px 15px;
  font-size: 11px;
  letter-spacing: 1px;
}




.text-center {
  text-align: center;
}

.block-icon {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  border-radius: 1px;
  background-color: #111;
  transform: rotate(45deg);
  text-align: center;
  color: #fff
}

.block-icon>* {
  transform: rotate(-45deg);
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* benefits */

.benefits-icon {
  margin-bottom: 35px;
  opacity: 1;
  color: #111;

}

.benefits-title {
  margin-bottom: 35px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  color: #111;
}

.benefits-margin {
  margin-bottom: 85px;
  line-height: 26px;

}

/* Potfolio */

.portfolio {
  min-height: 1020px;
}

.portfolio h3 {
  font-size: 18px;
  letter-spacing: 9px;
}



.portfolio-text {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  margin-bottom: 85px;
}

.portfolio a:hover {
  opacity: 1;
}

.portfolio .col {
  padding: 3px
}

.portfolio .tabs {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 5.2px;
  overflow: hidden;
}

.portfolio .tabs ul {
  margin-bottom: 50px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}


.portfolio .tabs ul li {
  float: left;
  margin-left: 70px;
  color: #111111;
  opacity: 0.5;
}

.portfolio .tabs ul li.ui-state-active {
  opacity: 1;
}

.portfolio col {
  float: left;

}

.portfolio img {
  width:100%;
  height: 341px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  
}

.portfolio a:hover img {
  -webkit-filter: none;
  filter: none;
}

/* Reviews */
.reviews-wrapper .icon-quote {
  color: #fff;
  font-size: 32px;
  margin-bottom: 22px;
}

.reviews-wrapper .title {
  margin-bottom: 40px;


}

.reviews-wrappe {
  max-width: 731px;
  margin: auto;
}

.reviews-wrapper .review-text {
  max-width: 731px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto 25px auto;
}

.reviews-wrapper .review-author {
  color: rgba(255, 255, 255, 0.30);
  text-transform: uppercase;
  font-family: 'Opensans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 38px;
}

.review-carousel {
  position: relative;
  overflow: hidden;
}

.review-carousel .slick-dots {
  position: absolute;
  bottom: 30px;
  left: auto;
}

.review-carousel .slick-dots li button {
  background-color: #cccc;
  border: 1px solid #cccc;
  width: 7px;
  height: 7px;
  border-radius: 50%;

}

.review-carousel .slick-dots li.slick-active button {
  width: 9px;
  height: 9px;
  background-color: transparent;
}

.review-carousel .slick-dots li button:before {
  font-family: 'slick';
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: transparent;
  -webkit-font-smoothing: antialiased;
}

.review-carousel .slick-arrow {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 90px;
  z-index: 1;
  cursor: pointer;
}

.review-carousel .slick-arrow.slick-prev {
  left: 0;
}

.review-carousel .slick-arrow.slick-next {
  right: 0;
}

.review-carousel .slick-arrow .carousel-button {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  background-color: #fff;
  transform: rotate(45deg);
}

.review-carousel .slick-arrow.slick-prev .carousel-button {
  left: -32px;

}

.review-carousel .slick-arrow.slick-next .carousel-button {
  right: -32px;

}

.review-carousel .slick-next:before {
  content: none;
}

.review-carousel .slick-prev:before {
  content: none;
}

.review-carousel .slick-arrow .carousel-button .fa {
  position: absolute;
  transform: rotate(-45deg);
  font-size: 14px;
  color: #222;
}

.review-carousel .slick-arrow.slick-prev .carousel-button .fa {
  bottom: 40px;
  right: 12px;
}

.review-carousel .slick-arrow.slick-next .carousel-button .fa {
  top: 40px;
  left: 12px;
}

/* newsletter */
.newsletter {
  background-color: #f8f8f8;
  max-height: 265px;
  padding-top: 82px;

}

.newsletter .title {
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4.8px;
  margin-top: 0;
  margin-bottom: 21px;
}

.newsletter fieldset {
  border: none;
  margin-bottom: 20px;
}

.newsletter .container .form {
  font-family: 'Opensans', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}

.newsletter .container .form .entry-field {
  height: 34px;
  width: 290px;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  padding-left: 13px;
  color: #777777;
  font-size: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 1px;
}


.newsletter .container form input[type="button"i],
input[type="submit"i],
input[type="reset"i],
input[type="file"i]::-webkit-file-upload-button,
button {
  height: 34px;
  width: 128px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 2.6px;
  background-color: #323232;
  box-sizing: border-box;
  border: none;
  border-radius: 1px;
}

.newsletter .spam {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  color: #aaaaaa;
}

/* Contact */
.item-content{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.cont-title{
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.9px;
  text-transform: uppercase;
  margin-bottom: 13px;

}
.cont-data{
  font-family: 'Opensans', sans-serif;
  font-weight: 200;
  line-height: 24px;
  color: #444444;
}
.contact-items{
  margin-bottom: 80px;
}

.form-row{
  margin: 0 -5px;
  overflow: hidden;
}
.form-col{
  
  width: 50%;
  float: left;
  padding: 0 5px;
}
.form-control{
  width: 100%;
  height: 34px;
  padding:0 14px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #777;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  text-transform: uppercase;
  margin: 5px 5px 5px 0;
}
.fa-phone{
  transform: rotate(45deg);
}
#message{
  font-family: 'Opensans', sans-serif;
  height: 78px;
  width: 100%;
  margin: 5px 0 20px 5px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #777;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  text-transform: uppercase;
  padding-left:14px;
  padding-top: 8px;
}

.submit-massage{
  float: right;
  height: 36px;
  width: 182px;
  margin-right: -5px;
  text-transform: uppercase;
  display: block;
}
.span-required{
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  color: #aaaaaa;
  margin-top: 14px;
}

/* Map */
#map{
  max-width: 1600px;
  overflow: hidden; 
  margin: auto;
  position: relative;
}
.maptitle{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  transition: all .5s ease;
  text-align: center;
}

#map:hover .maptitle{
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
} 
.icon-center{
  margin-top: 166px;
  text-align: center;
}
.map-icon {

  margin:166px auto 28px auto;
  width: 30px;
  line-height: 30px;
  border-radius: 2px;
  background-color: #FFF;
  transform: rotate(45deg);
  color: #222222;
}

.map-icon>* {
  transform: rotate(-45deg);
}
.map-open{
  text-transform: uppercase;
}
.map-open{
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4.8px;
  color: rgba(255, 255, 255, 0.75)
}


/* footer */

.mountains{
text-align: center;
}
.romb {
  width: 30px;
  line-height: 28px;
  border-radius: 1px;
  background-color:#fff;
  border: 1px solid #646464;
  transform: rotate(45deg);
  color: #222222;
}

.romb>* {
  transform: rotate(-45deg);
}
.social-nerwork {
  width: 100%; 
  text-align: center;
  float: left;    
  color: #111111;
  


}
.social-nerwork ul{
  display: table; 
  width: auto; 
  margin: 24px auto 109px auto;
  list-style: none;
  font-size: 12px;
  padding: 0;
}
.social-nerwork li{
  display: inline;
  float: left;
  text-align: center;
 
}
  
.social-nerwork li+li {
   margin-left: 30px;
}
.footer-subtitle{

  display: block;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 6px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.great-people{
  display: block;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #999999;
}
#header .slicknav_menu {
  display:none;
  font-size: 16px;
  box-sizing: border-box;
  background: #a0a0a0;
}
.slicknav_nav {
  color: rgba(254,254,254, 0.9);
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  border-radius: 4px;
  background: transparent;
}

/* Our works */

.our-works{
  background-color: #111111;
  max-width: 100%;
  height: 220px;
}

.our-works .container .title-our-works{
  color:  #ffffff;
  padding: 70px 0 20px 0;
  display: block;
  font-weight: 200;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  letter-spacing: 9px;
  text-transform: uppercase;
  
}
.our-works .btn{
  display: block;
  width: 214px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  font-size: 14px;
 letter-spacing: 2.8px;
 color: #111111;
}

/*  banner */
.banner{
  background: #111111;
  max-width: 100%;
  height: 400px;
  margin-bottom:140px;
}
.banner-title{
  font-family: 'Dosis', sans-serif;
  margin-top: 100px;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 5.4px;
  text-transform: uppercase;
margin-bottom: 28px;
}
.banner-text{
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 40px;
}
.banner .btn{
  width: 170px;
  height: 40px;
 line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  letter-spacing: 2.8px;
}
.banner img{
 margin-top: -30px;
}

/* Flex */
.container-flex{
  display: flex;
  justify-content: center;
  width: 1170px;
  flex-wrap: wrap;
  overflow: hidden;
}
.title-flex{
  display: flex;
  width: 100%;
}
.row-flex{
  display: flex;
  margin-bottom: 100px;
}
.col-flex{
  margin-right: 28px;
}
.col-flex:last-child{
  margin-right: 0;
}
.item{
  width: 370px;
  height: 450px;
}
/* Adaptive */

@media(max-width: 1200px){

  
  
  .col{
    margin-bottom: 30px;
  }
  /* Grid */
  .col-lg-1 {
    width: 8.333333%;
  }
  
  .col-lg-2 {
    width: 16.666666%;
  }
  
  .col-lg-3 {
    width: 25%;
  }
  
  .col-lg-4 {
    width: 33.3333333%;
  }
  
  .col-lg-5 {
    width: 41.66666%;
  }
  
  .col-lg-6 {
    width: 50%;
  
  }
  
  .col-lg-7 {
    width: 58.33333%;
  }
  
  .col-lg-8 {
    width: 66.6666666%;
  }
  
  .col-lg-9 {
    width: 75%;
  }
  
  .col-lg-10 {
    width: 83.333333333%;
  }
  
  .col-lg-11 {
    width: 91.666666667%;
  }
  
  .col-lg-12 {
    width: 100%;
  }
 
}
@media(max-width: 991px){
  /* Grid */
  .portfolio img {
    width: 100%;
  }
  .item-photo img{
    margin: 5px auto;
    display:block;
    
  } 
  
   .title{
    text-align: center;
  }
  .col-md-1 {
    width: 8.333333%;
  }
  
  .col-md-2 {
    width: 16.666666%;
  }
  
  .col-md-3 {
    width: 25%;
  }
  
  .col-md-4 {
    width: 33.3333333%;
  }
  
  .col-md-5 {
    width: 41.66666%;
  }
  
  .col-md-6 {
    width: 50%;
  
  }
  
  .col-md-7 {
    width: 58.33333%;
  }
  
  .col-md-8 {
    width: 66.6666666%;
  }
  
  .col-md-9 {
    width: 75%;
  }
  
  .col-md-10 {
    width: 83.333333333%;
  }
  
  .col-md-11 {
    width: 91.666666667%;
  }
  
  .col-md-12 {
    width: 100%;
  }

}
@media(max-width: 768px){
/* Services */
.tabs {
  width: 70%;
  

}
  .services .tabs ul li {
    float: left;
    width: 33%;
    margin-bottom: 30px;
  }
  .review-text{
    width: 80%;
  }
  .banner img{
    margin-top: 30px;
  }

  .col-sm-1 {
    width: 8.333333%;
  }
  
  .col-sm-2 {
    width: 16.666666%;
  }
  
  .col-sm-3 {
    width: 25%;
  }
  
  .col-sm-4 {
    width: 33.3333333%;
  }
  
  .col-sm-5 {
    width: 41.66666%;
  }
  
  .col-sm-6 {
    width: 50%;
  
  }
  
  .col-sm-7 {
    width: 58.33333%;
  }
  
  .col-sm-8 {
    width: 66.6666666%;
  }
  
  .col-sm-9 {
    width: 75%;
  }
  
  .col-sm-10 {
    width: 83.333333333%;
  }
  
  .col-sm-11 {
    width: 91.666666667%;
  }
  
  .col-sm-12 {
    width: 100%;
  }
  #header .header-nav {
    display:none;
  }
  
  #header .slicknav_menu {
    display:block;
  }
  .start-main .name {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 20px;
    
  }
  .start-main .role{
    font-size: 12px;
  }
}
@media(max-width: 576px){
  /* Grid */
  
  .services .tabs ul li {
    
    width: 50%;
  }
  .col-xs-1 {
    width: 8.333333%;
  }
  
  .col-xs-2 {
    width: 16.666666%;
  }
  
  .col-xs-3 {
    width: 25%;
  }
  
  .col-xs-4 {
    width: 33.3333333%;
  }
  
  .col-xs-5 {
    width: 41.66666%;
  }
  
  .col-xs-6 {
    width: 50%;
  
  }
  
  .col-xs-7 {
    width: 58.33333%;
  }
  
  .col-xs-8 {
    width: 66.6666666%;
  }
  
  .col-xs-9 {
    width: 75%;
  }
  
  .col-xs-10 {
    width: 83.333333333%;
  }
  
  .col-xs-11 {
    width: 91.666666667%;
  }
  
  .col-xs-12 {
    width: 100%;
  }

}
